Repository S3THEIA/ProjectTheia, pull requests merged in 2022-10, with the labels that each got.

#1 Display-image
  AUTHORS
  README
  demo/images/image_01_easy.jpeg
  demo/images/image_02_newspaper-picture.jpeg
  demo/images/image_03_software.jpeg
  demo/images/image_04_crumpled-newspaper.jpeg
  demo/images/image_05_rotate-software.jpeg
  demo/images/image_06_interference.jpeg
  ui/display-image/Makefile
  ui/display-image/display.c
Labels: pre-process

#4 XOR test
  image/post-processing/solver/README
  image/pre-processing/grayscale-image/Makefile
  image/pre-processing/grayscale-image/grayscale.c
  neural-network/Makefile
  neural-network/aSupr.txt
  neural-network/networkXor.c
  neural-network/networkXorSave.txt
  ui/display-image/Makefile
  ui/display-image/display.c
Labels: reseau-neurone

#10 Fix Details
  image/pre-processing/grayscale-image/Makefile
  image/pre-processing/grayscale-image/grayscale.c
Labels: pre-process

#9 Fix display
  ui/display-image/Makefile
  ui/display-image/display.c
Labels: ui

#5 Rotate-image
  image/pre-processing/rotate-image/Makefile
  image/pre-processing/rotate-image/aSupr.txt
  image/pre-processing/rotate-image/rotate.c
Labels: pre-process

#7 Spliting a sudoku grid
  image/pre-processing/split-grid/Makefile
  image/pre-processing/split-grid/aSupr.txt
  image/pre-processing/split-grid/split-grid.c
Labels: pre-process

#12 Fix General
  AUTHORS
  Makefile
  README
  picture-processing/post-processing/reconstruction-grid/ToDo
  picture-processing/post-processing/save/ToDo
  picture-processing/post-processing/solver/Makefile
  picture-processing/post-processing/solver/hexadoku
  picture-processing/post-processing/solver/solver.c
  picture-processing/post-processing/solver/solver.h
  picture-processing/post-processing/solver/sudoku
  picture-processing/pre-processing/grayscale-image/Makefile
  picture-processing/pre-processing/grayscale-image/grayscale.c
  picture-processing/pre-processing/grid-detection/ToDo
  picture-processing/pre-processing/image-processing/ToDo
  picture-processing/pre-processing/rotate-image/Makefile
  picture-processing/pre-processing/rotate-image/rotate.c
  picture-processing/pre-processing/split-grid/Makefile
  picture-processing/pre-processing/split-grid/split-grid.c
  pictures/image_01_easy.jpeg
  pictures/image_02_newspaper-picture.jpeg
  pictures/image_03_software.jpeg
  pictures/image_04_crumpled-newspaper.jpeg
  pictures/image_05_rotate-software.jpeg
  pictures/image_06_interference.jpeg
Labels: post-process, reseau-neurone, pre-process, ui
